## Deliverable 3. Create a Travel Itinerary Map.

In [3]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config4 import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [6]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,4,Manthani,IN,70.09,clear sky,18.6500,79.6667,Social Welfare Boys Hostel
1,7,Castro,BR,76.44,clear sky,-24.7911,-50.0119,CHACARA BAILLY
2,14,East London,ZA,75.20,few clouds,-33.0153,27.9116,Tu Casa
3,15,Alofi,NU,77.00,overcast clouds,-19.0595,-169.9187,Taloa Heights
4,18,Rikitea,PF,77.65,overcast clouds,-23.1203,-134.9692,Pension Maro'i

In [9]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [10]:
# 4a. Add a marker layer for each city to the map.

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [53]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Kuala Terengganu"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Kuala Terengganu"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Georgetown"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Sattahip"]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Ca Mau"]

In [65]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

start = vacation_start[["Lat","Lng"]].values[0]
end = vacation_end[["Lat","Lng"]].values[0]
stop1 = vacation_stop1[["Lat","Lng"]].values[0]
stop2 = vacation_stop2[["Lat","Lng"]].values[0] 
stop3 = vacation_stop3[["Lat","Lng"]].values[0]

print(start)
print(end) 
print(stop1) 
print(stop2) 
print(stop3)

[  5.3302 103.1408]
[  5.3302 103.1408]
[  5.4112 100.3354]
[ 12.6664 100.9007]
[  9.1769 105.15  ]

In [82]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
generate_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode= "DRIVING")
fig.add_layer(generate_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [88]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,609,Kuala Terengganu,MY,78.80,scattered clouds,5.3302,103.1408,Hotel Grand Continental Kuala Terengganu (4 Star)
1,3349,Kuala Terengganu,MY,78.80,scattered clouds,5.3302,103.1408,Hotel Grand Continental Kuala Terengganu (4 Star)
2,19,Georgetown,MY,82.40,few clouds,5.4112,100.3354,Cititel Penang
3,2759,Georgetown,MY,82.40,few clouds,5.4112,100.3354,Cititel Penang
4,324,Sattahip,TH,71.60,mist,12.6664,100.9007,Makmai Sailom Heights
5,3064,Sattahip,TH,71.60,mist,12.6664,100.9007,Makmai Sailom Heights
6,320,Ca Mau,VN,73.76,overcast clouds,9.1769,105.1500,KhÃ¡ch Sáº¡n MÆ°á»ng Thanh Luxury CÃ Mau
7,3060,Ca Mau,VN,73.76,overcast clouds,9.1769,105.1500,KhÃ¡ch Sáº¡n MÆ°á»ng Thanh Luxury CÃ Mau

In [93]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [101]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))